@media (print), (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?d6v6dn');
  src: url('fonts/icomoon.eot?d6v6dn#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?d6v6dn') format('truetype'), url('fonts/icomoon.woff?d6v6dn') format('woff'), url('fonts/icomoon.svg?d6v6dn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-comment:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.example {
  background-image: linear-gradient(to bottom right, #ffffff, #88bbbb);
  min-height: 80vh;
  min-width: 100vw;
  margin-top: -15rem;
  -webkit-clip-path: circle(99.7% at 50% 2323px);
  clip-path: circle(99.7% at 50% 2323px);
}
@media only screen and (min-width: 400px) {
  .example {
    -webkit-clip-path: circle(84.7% at 50% 61%);
    clip-path: circle(84.7% at 50% 61%);
  }
}
@media only screen and (min-width: 800px) {
  .example {
    -webkit-clip-path: circle(84.7% at 50% 63%);
    clip-path: circle(84.7% at 50% 63%);
  }
}
@media only screen and (min-width: 1000px) {
  .example {
    -webkit-clip-path: circle(84.7% at 50% 63%);
    clip-path: circle(84.7% at 50% 69%);
  }
}
.example__top {
  margin-top: 5rem;
}
.example__top h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Courgette', cursive;
  margin-bottom: 3rem;
}
.example__top p {
  font-size: 2rem;
  max-width: 80%;
  margin: 0 auto;
}
.example__middle {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1000px) {
  .example__middle {
    flex-direction: row;
    justify-content: space-around;
  }
}
.example__middle-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .example__middle-left {
    order: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1000px) {
  .example__middle-left {
    flex-direction: column;
    align-items: center;
    max-width: 30%;
  }
}
.example__middle-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .example__middle-right {
    order: 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1000px) {
  .example__middle-right {
    flex-direction: column;
    max-width: 30%;
  }
}
.example__middle-center {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
}
@media only screen and (min-width: 800px) {
  .example__middle-center {
    order: 1;
  }
}
@media only screen and (min-width: 1000px) {
  .example__middle-center {
    max-width: 30%;
    justify-content: center;
  }
}
.example-card {
  margin-top: 5rem;
  width: 40rem;
  max-width: 100%;
  background-image: linear-gradient(to bottom right, #ccbbaa, #aa8866);
  border-radius: 20%;
  position: relative;
  box-shadow: 0 0 20px 2px rgba(34, 17, 0, 0.5);
  margin-bottom: 10rem;
  transform: rotateY(30deg) translateZ(-50px) scale(0.9);
}
@media only screen and (min-width: 1000px) {
  .example-card {
    max-width: 90%;
  }
}
.example-card-1 {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: rotateY(30deg) translateZ(-50px) scale(0.9);
}
.example-card__image {
  width: 40rem;
  max-width: 100%;
  height: 20rem;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgba(34, 17, 0, 0.5), rgba(34, 68, 68, 0.5)), url("../../images/thought-catalog-478469-unsplash.jpg");
  z-index: 1;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  position: relative;
  border-bottom: 2px solid black;
  box-shadow: 0 0 20px 2px rgba(34, 17, 0, 0.5);
}
.example-card__rating {
  position: absolute;
  top: 80%;
  left: 10%;
}
.example-card__rating .icon-star {
  color: #ccbbaa;
  font-size: 2rem;
  letter-spacing: 10px;
}
.example-card__fav-icon {
  position: absolute;
  top: 10%;
  right: 10%;
  color: red;
}
.example-card__fav-icon .icon-heart {
  font-size: 2rem;
}
.example-card__share-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ccbbaa;
}
.example-card__share-icon .icon-share {
  font-size: 2rem;
}
.example-card__download-icon {
  position: absolute;
  top: 80%;
  right: 10%;
  color: #ccbbaa;
}
.example-card__download-icon .icon-book {
  font-size: 2rem;
}
.example-card__book-title {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-family: 'Courgette', cursive;
  margin-top: 2rem;
}
.example-card_book-content {
  display: flex;
  max-width: 80%;
  margin: 5rem auto;
  font-size: 2rem;
}
.example-card_book-content p {
  margin: 0 auto;
}
.example-card__comments-icon {
  position: absolute;
  top: 50%;
  left: 80%;
}
.example-card__comments-icon .icon-comment {
  color: #557777;
  font-size: 3rem;
}
.footer {
  margin-top: 2rem;
  border-top: 1px solid #221100;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgba(34, 17, 0, 0.8), rgba(119, 102, 68, 0.8)), url("/images/clarisse-meyer-162874-unsplash.jpg");
  background-size: cover;
}
.footer__copyright {
  color: #ccbbaa;
  margin-top: 10rem;
  font-size: 2rem;
  font-family: 'Courgette', cursive;
  text-shadow: 0 2px 2px black;
}
.footer__links {
  color: #ccbbaa;
  margin-top: 3rem;
  font-size: 2rem;
  cursor: pointer;
}
.footer__links h4 {
  margin-top: 3rem;
  text-shadow: 0 2px 2px black;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 3px;
  background-image: linear-gradient(to bottom right, rgba(170, 102, 34, 0.7), rgba(153, 170, 187, 0.7)), url("../../images/hieu-vu-minh-91995-unsplash.jpg");
  -webkit-clip-path: circle(200% at 50% calc(-1.15 * 100vw));
  clip-path: circle(200.7% at 50% calc(-1.15 * 100vw));
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.hero__info {
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 3rem;
  color: #221100;
  text-shadow: 0 2px 2px #ccbbaa;
}
.icon-card {
  border-radius: 10%;
  padding-top: 6rem;
  margin-top: 5rem;
  width: 40rem;
  max-width: 95%;
}
@media only screen and (min-width: 400px) {
  .icon-card {
    max-width: 40%;
    box-shadow: none;
    border: none;
  }
}
@media only screen and (min-width: 800px) {
  .icon-card {
    max-width: 40%;
    border: none;
  }
}
@media only screen and (min-width: 1000px) {
  .icon-card {
    max-width: 90%;
    width: 60rem;
  }
}
.icon-card h2 {
  font-family: 'Courgette', cursive;
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
}
.icon-card p {
  margin: 4rem 5%;
  font-size: 2rem;
  max-width: 90%;
}
.icon-card .icon-comment,
.icon-card .icon-heart,
.icon-card .icon-book,
.icon-card .icon-share,
.icon-card .icon-star {
  display: flex;
  justify-content: space-around;
  font-size: 9rem;
}
@media only screen and (min-width: 800px) {
  .icon-card .icon-comment,
  .icon-card .icon-heart,
  .icon-card .icon-book,
  .icon-card .icon-share,
  .icon-card .icon-star {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .icon-card .icon-comment,
  .icon-card .icon-heart,
  .icon-card .icon-book,
  .icon-card .icon-share,
  .icon-card .icon-star {
    font-size: 3rem;
  }
}
.icon-card .icon-comment:before,
.icon-card .icon-heart:before,
.icon-card .icon-book:before,
.icon-card .icon-share:before,
.icon-card .icon-star:before {
  background-image: linear-gradient(to bottom right, #795548, #d46c00);
  box-shadow: 0 0 20px 2px rgba(34, 17, 0, 0.5);
  color: #f8cba1;
  border-radius: 20%;
  padding: 5rem;
}
@media only screen and (min-width: 800px) {
  .icon-card .icon-comment:before,
  .icon-card .icon-heart:before,
  .icon-card .icon-book:before,
  .icon-card .icon-share:before,
  .icon-card .icon-star:before {
    padding: 3rem;
  }
}
@media only screen and (min-width: 1000px) {
  .icon-card .icon-comment:before,
  .icon-card .icon-heart:before,
  .icon-card .icon-book:before,
  .icon-card .icon-share:before,
  .icon-card .icon-star:before {
    padding: 2rem;
  }
}
.middle-section {
  background-image: linear-gradient(to bottom right, #ffffff, #ccbbaa);
  min-height: 70vh;
  margin-top: -20rem;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.middle-section__title {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #221100;
}
.middle-section__title h2 {
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin: 1rem 2rem;
  text-shadow: 0 2px 2px #99aabb;
}
.middle-section__title h2:after {
  content: "";
  display: block;
  margin-top: 2rem;
  border-radius: 25%;
  height: 3px;
  background-image: linear-gradient(to bottom right, #99aabb, #52eae9, #557777);
  background-size: auto auto;
  background-repeat: repeat, no-repeat;
}
.middle-section__p {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.middle-section__p p {
  font-size: 1.6rem;
  font-weight: bold;
  max-width: 80%;
}
.header {
  display: flex;
  height: 5px;
  flex-direction: row;
  justify-content: space-around;
  color: #221100;
  background-image: linear-gradient(to bottom right, #557777, #99aabb, #776644);
  transition: all 0.4s;
}
.header.position-fixed {
  position: fixed;
}
.header.expand {
  height: 60px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: height 0.4s, position 0.4s 0.4s;
}
.header__nav {
  width: 100%;
}
.header__nav-ul {
  display: flex;
  margin: 1rem 1rem;
  justify-content: center;
}
.header__nav-ul li:not(:last-child) {
  margin-right: 1.5rem;
}
.header__nav-ul li {
  margin-top: 1rem;
  display: none;
}
@media only screen and (min-width: 800px) {
  .header__nav-ul li {
    display: block;
  }
}
.header__nav-ul li a {
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: inherit;
  text-shadow: 0 2px 2px #ccbbaa;
}
.header .navPanelToggle {
  color: #221100;
  display: block;
  cursor: pointer;
  font-size: 3rem;
  text-align: right;
  margin-right: 2rem;
  text-shadow: 0 2px 2px #ccbbaa;
}
@media only screen and (min-width: 800px) {
  .header .navPanelToggle {
    display: none;
  }
}
.header a {
  margin-top: 1rem;
  height: 4rem;
  width: 60%;
}
.header a .header__logo {
  margin-left: 1rem;
  display: block;
  height: 45px;
  width: 120px;
  background-size: auto auto;
  text-shadow: 0 2px 2px #ccbbaa;
  background-image: url("../../images/oerBookrLogo3WoodBrown.png");
  background-size: cover;
}
.header.minimize {
  width: 100%;
  margin-bottom: 0;
  color: #221100;
  font-weight: bold;
}
.full-page-nav {
  background-image: linear-gradient(to bottom right, #557777, #99aabb, #776644);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
}
.full-page-nav__close {
  position: absolute;
  top: 5%;
  left: 90%;
  font-size: 2rem;
  cursor: pointer;
}
.full-page-nav .full-page-nav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full-page-nav .full-page-nav__ul li {
  font-size: 4rem;
  margin-top: 6rem;
}
.full-page-nav .full-page-nav__ul li a {
  color: #221100;
  font-family: 'Courgette', cursive;
  text-shadow: 0 2px 2px #ccbbaa;
  text-transform: uppercase;
}
.full-page-nav.closed {
  transform-origin: top;
  transform: rotateZ(-180deg);
  transition: all 0.4s;
}
.full-page-nav.open {
  transform: rotateZ(0);
  transform-origin: top;
  transition: all 0.4s;
}
.middle-section__reviews {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}
.middle-section__reviews .review {
  display: flex;
  max-width: 100%;
}
.middle-section__reviews .review:not(:first-child) {
  margin-top: 8rem;
}
@media only screen and (min-width: 800px) {
  .middle-section__reviews .review:nth-child(2) .review__image {
    order: 2;
    margin-right: 0;
    margin-left: 2rem;
  }
  .middle-section__reviews .review:nth-child(2) .review__content {
    align-items: flex-end;
  }
  .middle-section__reviews .review:nth-child(2) .review__content h2:after {
    width: 100%;
  }
}
.middle-section__reviews .review__image {
  display: none;
  width: 10%;
  margin-right: 3rem;
}
@media only screen and (min-width: 800px) {
  .middle-section__reviews .review__image {
    display: block;
    width: 50%;
  }
}
.middle-section__reviews .review__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.middle-section__reviews .review__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (min-width: 800px) {
  .middle-section__reviews .review__content {
    max-width: 50%;
  }
}
.middle-section__reviews .review__content h2:after {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 40%;
  content: "";
  height: 5px;
  display: block;
  background-image: linear-gradient(to bottom right, #99aabb, #52eae9, #557777);
  background-size: auto auto;
}
.middle-section__reviews .review__content-name {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.middle-section__reviews .review__content-p {
  font-size: 2rem;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
.body-container {
  display: flex;
  flex-direction: column;
}
html {
  font-size: 50%;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 62.5%;
  }
}
a {
  color: #99aabb;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */