.example {
  .background-linear-gradient(white, #88bbbb );
  min-height: 80vh;
  min-width: 100vw;
  margin-top: -15rem;

  -webkit-clip-path: circle(70.7% at 50% 50%);
  clip-path: circle(200.7% at 50% calc(1.3*170vw));

  &__top {
    margin-top: 5rem;

    h2 {
      font-size: 3rem;
      text-align: center;
      font-family: 'Courgette', cursive;
      margin-bottom: 3rem;
    }
    p{
      font-size: 2rem;
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__middle {
    margin-bottom: 10rem;
    display:flex;
    flex-direction: column;
    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &-center {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      perspective: 1000px;
    }

  }

}