.example {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23557777' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23557777' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  min-height: 80vh;
  margin-top: -15rem;

  -webkit-clip-path: ellipse(300% 100% at 50% 100%);
  clip-path: ellipse(300% 100% at 50% 100%);

  @media @tablet {
    -webkit-clip-path: ellipse(300% 100% at 50% 100%);
    clip-path: ellipse(300% 100% at 50% 100%);
  }

  @media @desktop {
    -webkit-clip-path: ellipse(150% 100% at 50% 100%);
    clip-path: ellipse(150% 100% at 50% 100%);
  }

  @media @desktopLarge {
    -webkit-clip-path: ellipse(150% 100% at 50% 100%);
    clip-path: ellipse(150% 100% at 50% 100%);
  }

  &__top {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 3rem;
      text-align: center;
      font-family: 'Courgette', cursive;
      margin-bottom: 3rem;

      &:after {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 40%;
        content: "";
        height: 5px;
        display: block;
        background-image: linear-gradient(to bottom right, #99aabb, #52eae9, #557777);
        background-size: auto auto;
      }
    }

    p {
      font-size: 2rem;
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__middle {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;

    @media @desktopLarge {
      flex-direction: row;
      justify-content: space-around;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media @tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media @desktop {
        order: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media @desktopLarge {
        flex-direction: column;
        align-items: center;
        max-width: 30%;
      }

    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media @tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media @desktop {
        order: 3;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media @desktopLarge {
        flex-direction: column;
        max-width: 30%;
      }

    }

    &-center {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      perspective: 1000px;

      @media @desktop {
        max-width: 100%;
        order: 1;
        flex-direction: row;
        justify-content: space-around;
      }

      @media @desktopLarge {
        max-width: 30%;
        justify-content: center;
        flex-direction: column;
      }
    }

  }

}