.example-card__container{
  max-width: 100%;
  order: 2;
  position: relative;

  @media @desktop {
    max-width: 40%;
    order: 0;
  }

  @media @desktopLarge {
    max-width: 100%;
  }

  .example-card {

    margin-top: 5rem;
    width: 40rem;
    max-width: 100%;
    .background-linear-gradient(@color-clam-shell, @color-light-brown);
    border-radius: 20%;
    position: relative;
    .aesthetic-box-shadow(@color-wood-brown);
    margin-bottom: 10rem;
    transform: rotateY(30deg) translateZ(-50px) scale(.8) translateX(-30px);

    @media @desktopLarge {
      max-width: 90%;
    }

    &-1 {
      position: absolute;
      top: 10%;
      left: 30%;
      transform: rotateY(20deg) translateZ(-70px) scale(0.8) translateY(-30px);

      @media @desktop {
        transform: rotateY(30deg) translateZ(-70px) scale(.8) translateY(-30px) translateX(-100px);
      }

      @media @desktopLarge {
        transform: rotateY(13deg) translateZ(-70px) scale(0.9) translateY(24px) translateX(60px);
      }

    }

    &__image {
      width: 40rem;
      max-width: 100%;
      height: 20rem;
      background-size: cover;
      .background-linear-gradient(@color-wood-brown, @color-dark-green, .5);
      background-image+: url("../../images/0000AdvWatMat.jpg");
      z-index: 1;
      border-top-left-radius: 20%;
      border-top-right-radius: 20%;
      position: relative;
      border-bottom: 2px solid black;
      .aesthetic-box-shadow(@color-wood-brown);
    }

    &__image-1 {
      width: 40rem;
      max-width: 100%;
      height: 20rem;
      background-size: cover;
      .background-linear-gradient(@color-wood-brown, @color-dark-green, .5);
      background-image+: url("../../images/51FTzw8opWL.jpg");
      z-index: 1;
      border-top-left-radius: 20%;
      border-top-right-radius: 20%;
      position: relative;
      border-bottom: 2px solid black;
      .aesthetic-box-shadow(@color-wood-brown);
    }

    &__rating {
      position: absolute;
      top: 80%;
      left: 10%;

      .icon-star {
        color: @color-clam-shell;
        font-size: 2rem;
        letter-spacing: 10px;
      }
    }

    &__fav-icon {
      position: absolute;
      top: 10%;
      right: 10%;
      color: red;

      .icon-heart {
        font-size: 2rem;
      }
    }

    &__share-icon {
      position: absolute;
      top: 10%;
      left: 10%;
      color: @color-clam-shell;

      .icon-share {

        font-size: 2rem;
      }
    }

    &__download-icon {
      position: absolute;
      top: 80%;
      right: 10%;
      color: @color-clam-shell;

      .icon-book {
        font-size: 2rem;
      }
    }

    &__book-title {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      font-family: 'Courgette', cursive;
      margin-top: 2rem;
    }

    &_book-content {
      display: flex;
      max-width: 80%;
      margin: 5rem auto;
      font-size: 2rem;

      p {
        margin: 0 auto;
        margin-bottom: 5rem;
      }
    }

    &__comments-icon {
      position: absolute;
      top: 43%;
      left: 80%;

      .icon-comment {
        color: @color-light-green;
        font-size: 3rem;
      }
    }

  }
}
