.example {
  .background-linear-gradient(white, #88bbbb );
  min-height: 80vh;
  min-width: 100vw;
margin-top: -15rem;

  -webkit-clip-path: circle(70.7% at 50% 50%);
  clip-path: circle(200.7% at 50% calc(1.1*170vw));

  &__top {
    margin-top: 20rem;
  }


}