.footer {
  margin-top: 2rem;
  border-top: 1px solid @color-wood-brown;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient( to bottom right, rgba(@color-wood-brown, .8), rgba(@color-tan, .8)), url("/images/clarisse-meyer-162874-unsplash.jpg");
  background-size: cover;


  &__copyright {
    color: @color-clam-shell;
    margin-top: 10rem;
    font-size: 2rem;
    font-family: 'Courgette', cursive;
    .aesthetic-text-shadow(black);
  }

  &__links {
    color: @color-clam-shell;
    margin-top: 3rem;
    font-size: 2rem;
    cursor: pointer;
    h4 {
      margin-top: 3rem;
      .aesthetic-text-shadow(black);
    }
  }
}