.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 3px;
  .background-linear-gradient(@color-desert, @color-light-blue, .7);
  background-image+: url("../../images/hieu-vu-minh-91995-small.jpg");
  -webkit-clip-path: ellipse(200% 100% at 50% 0);
  clip-path: ellipse(200% 100% at 50% 0);

  @media @tablet {
    -webkit-clip-path: ellipse(200% 100% at 50% 0);
    background-image+: url("../../images/hieu-vu-minh-91995-unsplash.jpg");
    clip-path: ellipse(200% 100% at 50% 0);
  }

  @media @desktop {
    -webkit-clip-path: ellipse(100% 100% at 50% 0);
    clip-path: ellipse(100% 100% at 50% 0);
  }

  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;

  &__info {
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 3rem;
    color: @color-wood-brown;
    .aesthetic-text-shadow(@color-clam-shell);
  }

}