.middle-section {
  background-color: #ffc996;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffc996' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fbc898' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f6c699' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f2c59b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23edc39c' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e9c29e' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23e4c0a0' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e0bfa1' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23dbbda3' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23d7bca4' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23d2baa6' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23cdb9a7' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23c9b7a9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23c4b6aa' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23bfb4ac' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23bab3ad' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23b5b1af' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23b0b0b0' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 70vh;
  margin-top: -21rem;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;

  &__title {
    margin-top: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @color-wood-brown;

    h2 {
      font-family: 'Courgette', cursive;
      font-weight: bold;
      font-size: 5rem;
      text-align: center;
      margin: 1rem 2rem;
      .aesthetic-text-shadow(@color-light-blue);

      &:after {
        content: "";
        display: block;
        margin-top: 5rem;
        border-radius: 25%;
        height: 3px;
        .background-linear-gradient-3(@color-light-blue, #52eae9, @color-light-green);
        background-size: auto auto;
        background-repeat: repeat, no-repeat;

      }
    }
  }

  &__p {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    p {
      font-size: 1.6rem;
      font-weight: bold;
      max-width: 80%;
    }
  }
}

