.header {
  display: flex;
  height: 5px;
  flex-direction: row;
  justify-content: space-between;
  color: @color-wood-brown;
  .background-linear-gradient-3(@color-light-green, @color-light-blue, @color-tan);
  transition: all .4s;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  &.position-fixed {
    position: fixed;
  }

  &.expand {
    height: 60px;
    position: fixed;
    top: 0;
    .aesthetic-box-shadow(black);
    z-index: 10;
    transition: height .4s, position .4s .4s;
  }

  &__nav {
    width: 100%;

  }

  &__nav-ul {
    display: flex;
    margin: 1rem 1rem;
    justify-content: center;

    li:not(:last-child) {
      margin-right: 1.5rem;
    }

    li {
      margin-top: 1rem;
      display: none;

      @media @desktop {
        display: block;
      }

      a {
        margin-top: 1rem;
        text-transform: capitalize;
        font-size: 1.8rem;
        color: inherit;
        .aesthetic-text-shadow(@color-clam-shell);
      }
    }
  }

  .navPanelToggle {
    color: @color-wood-brown;
    display: block;
    cursor: pointer;
    font-size: 3rem;
    text-align: right;
    margin-right: 2rem;
    .aesthetic-text-shadow(@color-clam-shell);

    @media @desktop {
      display: none;
    }
  }

  a {
    margin-top: 1rem;
    height: 4rem;
    width: 60%;

    .header__logo {
      margin-left: 1rem;
      display: block;
      height: 45px;
      width: 120px;
      .aesthetic-text-shadow(@color-clam-shell);
      background-image+: url("../../images/oerBookrLogo3WoodBrown.png");
      background-size: cover;
    }
  }

  &.minimize {
    width: 100%;
    margin-bottom: 0;
    color: @color-wood-brown;
    font-weight: bold;

  }
}

.full-page-nav {
  .background-linear-gradient-3(@color-light-green, @color-light-blue, @color-tan);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;

  &__close {
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 2rem;
    cursor: pointer;
  }

  .full-page-nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li {
      font-size: 4rem;
      margin-top: 6rem;

      a {
        color: @color-wood-brown;
        font-family: 'Courgette', cursive;
        .aesthetic-text-shadow(@color-clam-shell);
        text-transform: uppercase;
      }
    }
  }

  &.closed {
    transform-origin: top;
    transform: rotateZ(-180deg);
    transition: all .4s;
  }

  &.open {
    transform: rotateZ(0);
    transform-origin: top;
    transition: all .4s;
  }
}